* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.header_container {
    display: flex;
}

.header_menu_container {
}

.header_menu_list {
    display: flex;
}

.icon_area {
    display: flex;
}